@import "../config.module.scss";

@mixin card {
  background: linear-gradient(to bottom, $primary-color-1 80%, $grey-200 20%);
  border-radius: 5px;
  box-shadow: $box-shadow;
}

@mixin borderTop {
  height: 1rem;
  width: 100%;
  background: linear-gradient(to right, $primary-color-15, $primary-color-20);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
