@import "../config.module.scss";

@mixin sectionGrid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 15rem 0 0 0;
  @include mediaLg {
    grid-template-columns: 15% 1fr 1fr 15%;
  }
  @include mediaMd {
    grid-template-columns: 10% 1fr 1fr 10%;
  }
}

@mixin sectionHeader {
  grid-column: 1 / -1;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  color: $grey-900;
  margin: 0 0 2rem;
  span {
    color: $primary-color;
  }
  @include mediaLg {
    font-size: 3rem;
  }
  @include mediaSm {
    font-size: 2.5rem;
  }
}
