@import "../../styles/config.module.scss";

.projects-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  padding-top: 15rem;

  @include mediaLg {
    grid-template-columns: 15% 1fr 1fr 15%;
  }
  @include mediaMd {
    grid-template-columns: 10% 1fr 1fr 10%;
  }
}

.section-title {
  grid-column: 1 / -1;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0 0 1rem 0;
  color: $grey-900;
  @include mediaLg {
    font-size: 3rem;
  }
  @include mediaSm {
    font-size: 2.5rem;
  }
}

.projects-slider {
  grid-column: 2 / 4;
  display: flex;
  padding: 0 1rem 2rem;
  overflow-x: auto;
  overflow-y: visible;
  position: relative;
  margin: 2rem 0 15rem;
  // for space at end of horizontal scroll
  &::after {
    content: "";
    display: block;
    min-width: 1rem;
  }
}

.card {
  min-width: 320px;
  width: 320px;
  background: $primary-color-10;
  box-shadow: $box-shadow;
  border-radius: 5px;
  margin-right: 3rem;
  @include mediaSm {
    min-width: 280px;
    width: 280px;
    margin-right: 2rem;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

.project-link {
  position: relative;
  display: block;
  &:hover {
    .overlay {
      @include easeOutMid;
      background: #00000055;
    }
    svg {
      @include easeOutMid;
      transform: scale(3);
      top: 50%;
      right: 50%;
    }
  }
}

.overlay {
  @include easeOutMid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000000;
  border-radius: 5px;
  z-index: 2;
}

.project-image {
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0 0;
}

.link-icon {
  @include easeOutMid;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: $grey-300;
  z-index: 2;
  width: 20px;
  height: 20px;
}

.project-icon {
  width: 20px;
  margin: auto 0.5rem auto 0;
  transform: translate(0, 2.5px);
  @include mediaSm {
    width: 16px;
    transform: translate(0, 1px);
  }
}
.project-title {
  font-size: $tertiary-header;
  font-weight: $bold;
  color: $grey-800;
  margin: 1rem 0 0 0.75rem;
  vertical-align: middle;
  @include mediaSm {
    font-size: 1.2rem;
  }
}

.external-link {
  margin-left: 0.5rem;
}

.external-link-icon {
  width: 18px;
  height: 18px;
  color: $grey-600;
  vertical-align: middle;
  @include easeOutMid;
  &:hover {
    @include easeOutMid;
    color: $grey-800;
  }
  @include mediaSm {
    width: 16px;
    height: 16px;
  }
}

.project-description {
  color: $grey-700;
  font-size: 0.9rem;
  font-weight: $medium;
  letter-spacing: 0.75px;
  line-height: 1.6;
  margin: 1rem 0.75rem 0 0.75rem;
  @include mediaSm {
    margin-top: 0.6rem;
    letter-spacing: 0.6px;
  }
}

.tech-icons-wrapper {
  display: flex;
  margin: 1.25rem 0 0 0;
  width: 100%;
  box-sizing: border-box;
  padding: 1.25rem 0 1.25rem 0.75rem;
  background: $primary-color-15;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  @include mediaSm {
    padding: 1rem 0 1rem 0.75rem;
  }
}

.tech-icon {
  width: 20px;
  height: 20px;
  color: $grey-600;
  margin-right: 0.5rem;
}

.background-circles {
  position: absolute;
  width: 15%;
  top: 180%;
  right: 2%;
  z-index: -200;
  @include mediaMd {
    width: 20%;
    top: 25%;
    transform: rotate(12deg);
  }
}

.background-chevron {
  position: absolute;
  width: 15%;
  top: 200%;
  right: 11%;
  opacity: 0.9;
  z-index: -200;
  @include mediaMd {
    top: 175%;
    right: 6%;
  }
  @include mediaSm {
    top: 150%;
    right: 6%;
  }
}
