@import "../../styles/config.module.scss";

.skills-section-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  padding: 15rem 0 0 0;
  @include mediaLg {
    grid-template-columns: 15% 1fr 1fr 15%;
  }
  @include mediaMd {
    grid-template-columns: 10% 1fr 1fr 10%;
  }
}

.skills-section-header {
  grid-column: 1 / -1;
  grid-row: 1;
  font-size: 3.5rem;
  text-align: center;
  color: $grey-900;
  margin: 0 0 1rem;
  @include mediaLg {
    font-size: 3rem;
  }
  @include mediaSm {
    font-size: 2.5rem;
  }
}
