@import "../../styles/config.module.scss";

.content-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr auto 1fr 1fr;
  @include mediaLg {
    grid-template-columns: 15% 1fr auto 1fr 15%;
  }
  @include mediaMd {
    grid-template-columns: 10% 1fr auto 1fr 10%;
  }
}

.contact-content {
  position: relative;
  grid-column: 2 / 5;
  display: flex;
  flex-direction: column;
  padding: 15rem 0 4rem;
  margin-bottom: 10rem;
}

.section-title {
  font-size: $section-header;
  font-weight: $bold;
  margin: 0 0 2rem;
  color: $grey-900;
  @include mediaLg {
    font-size: $section-header-Lg;
  }
}

.card-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
}

.contact-info-card-wrapper {
  display: inline-block;
}

.contact-info-card {
  display: inline-block;
  background: linear-gradient($primary-color-12 75%, $primary-color-17 25%);
  border-radius: 5px;
  box-shadow: $box-shadow-mini;
  width: 240px;
  margin: 2rem -3rem 2rem 0;
  z-index: -1;
  @include mediaMd {
    width: 210px;
    margin-bottom: 5rem;
  }
  @include mediaSm {
    display: none;
  }
}

.contact-info-card-border-top {
  height: 0.6rem;
  width: 100%;
  background: linear-gradient(to right, $primary-color-20, $primary-color-25);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.contact-info-card-header {
  margin: 1rem 1rem 0.8rem;
  font-size: 1rem;
  color: $grey-800;
}

.contact-info-card-list {
  list-style: none;
  padding: 0;
  margin: 0 1rem;
}

.contact-info-card-list-item {
  color: $grey-800;
  margin: 0 0 0.2rem;
  &::before {
    content: "\203A ";
    font-size: 1.2rem;
    color: $primary-color-30;
  }
}

// position relative on contact-card to keep transformed sub-card in same stacking context
.contact-card {
  position: relative;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  background: $primary-color-10;
  border-radius: 5px;
  box-shadow: $box-shadow;
  @include mediaMd {
    grid-template-columns: 1fr;
  }
}

.contact-card-border-top {
  grid-column: 1 / -1;
  grid-row: 1;
  height: 0.8rem;
  width: 100%;
  background: linear-gradient(to right, $primary-color-15, $primary-color-20);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.contact-card-title {
  grid-column: 1 / -1;
  grid-row: 2;
  font-size: $tertiary-header;
  font-weight: $bold;
  color: $grey-800;
  margin: 2rem 2rem 0;
}

.text-block-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.4rem 0;
  margin-right: 2rem;

  //nth-of-type added one because of <div> top-border being nth-of-type(1)
  &:nth-of-type(2) {
    grid-column: 1;
    grid-row: 3;
    @include mediaMd {
      grid-column: 1 / -1;
    }
  }
  &:nth-of-type(3) {
    grid-column: 2;
    grid-row: 3;
    @include mediaMd {
      grid-column: 1 / -1;
      grid-row: 4;
    }
  }
  &:nth-of-type(4) {
    grid-column: 1;
    grid-row: 4;
    @include mediaMd {
      grid-column: 1 / -1;
      grid-row: 5;
    }
  }
  &:nth-of-type(5) {
    grid-column: 2;
    grid-row: 4;
    @include mediaMd {
      grid-column: 1 / -1;
      grid-row: 6;
    }
  }
}

.icon-wrapper {
  @include iconWrapper;
  margin-left: 1.8rem;
}

.contact-icon {
  font-size: 1.5rem;
  color: $grey-600;
}

.contact-link {
  margin: 0 1rem;
  color: $grey-800;
  font-size: 1.2rem;
  font-weight: $medium;
}

.secondary-media-section {
  grid-column: 1 / -1;
  grid-row: 5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  width: 100%;
  padding: 1.6rem 0;
  background: $primary-color-15;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  @include mediaMd {
    grid-row: 7;
  }
}

.secondary-contact-header {
  margin: 0 0 0 2rem;
  font-size: 0.8rem;
  color: $grey-600;
  justify-self: start;
  @include mediaMd {
    display: none;
  }
}

.secondary-logo-block {
  @include iconWrapper;
  grid-column: 2 / 3;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
  @include mediaMd {
    grid-column: 1 / -1;
  }
}

.secondary-contact-icon-link {
  display: flex;
  align-items: center;
}

.secondary-contact-icon {
  color: $grey-500;
  font-size: 1.2rem;
}
