@import "../../styles/config.scss";

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  z-index: 100;
  max-width: 100vw;
}

.header-nav {
  display: flex;
  width: 100%;
}

.nav-list-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  align-items: baseline;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0 0 0 auto;
  width: 50%;

  @include mediaLg {
    width: 100%;
    max-width: 100vw;
    margin: 0;
  }

  @include mediaSm {
    display: none;
  }
}

.nav-item {
  margin: 1rem auto 0;
}

.nav-button {
  text-decoration: none;
  outline: none;
  background: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: $primary-color;
  margin: 0;
  &:hover {
    color: $grey-900;
    cursor: pointer;
  }
  @include mediaMd {
    font-size: 1.1rem;
  }
}
