@import "../../styles/config.module.scss";

.page-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-right: 2rem;
  position: absolute;
  background: transparent;
  z-index: 100;
}

.header-nav {
  //margin-left: auto;
  // margin-right: 1rem;
  width: 100%;
}

.nav-list-wrapper {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 2rem 2rem 0 2rem;
  margin: 0 0 0 auto;
  width: 50%;
  @include mediaLg {
    width: 100%;
    justify-content: space-around;
    padding: 2rem 0 0;
  }
}

.nav-item {
  margin: 0;
  // margin: 0.8rem 1.6rem 0.6rem;
  // @include mediaSm {
  //   margin: 0;
  // }
}

.nav-text {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: $bold;
  color: $grey-800;
  margin: 0;
  &:hover {
    color: $grey-900;
    cursor: pointer;
  }

  @include mediaSm {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    font-size: 1.1rem;
  }
}

.nav-icon {
  display: none;
  @include mediaSm {
    display: inline-block;
  }
}

.youtube-btn {
  width: 100px;
}
