@import "../../styles/config.module.scss";

.page-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0.2rem 0;
  position: absolute;
  z-index: 100;
}

// Navigation //

.header-nav {
  margin-left: auto;
  margin-right: 1rem;
  @include mediaSm {
    margin: 0;
  }
}

.nav-list-wrapper {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 10px 0 0 0;
  margin: 0;
  width: 100%;
  @include mediaSm {
    bottom: 0;
    left: 0;
    position: fixed;
    justify-content: space-around;
    padding: 0;
    background: $not-black;
  }
}

.nav-item {
  margin: 0.8rem 1.6rem 0.6rem;
  @include mediaSm {
    margin: 0.4rem 0;
  }
}

.nav-text {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: $bold;
  color: $grey-800;
  margin: 0;
  &:hover {
    color: $grey-900;
    cursor: pointer;
  }
  @include mediaSm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
  }
}

.nav-icon {
  display: none;
  @include mediaSm {
    display: inline-block;
  }
}

.youtube-btn {
  margin-right: 3rem;
  padding-top: 10px;
  @include mediaSm {
    margin-right: 1.5rem;
    margin-left: auto;
  }
}
