@import "../styles/config.module.scss";

.top-gradient {
  position: absolute;
  width: 100%;
  background: linear-gradient(
    hsla(238, 100%, 93%, 1) 0%,
    hsla(238, 100%, 93%, 0) 40%
  );
  z-index: -10;
}
.top-gradient[data-section="hero"] {
  height: 400px;
}

.top-gradient[data-section="info-section"] {
  height: 500px;
}

.top-gradient[data-section="projects"] {
  height: 500px;
}
.top-gradient[data-section="skills"] {
  height: 500px;
}

.top-gradient[data-section="contact"] {
  height: 500px;
}

////////////////////////////////////////////////////////////////////////////

.bottom-gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(
    hsla(238, 100%, 93%, 0) 0,
    hsla(238, 100%, 93%, 1) 80%
  );
  z-index: -10;
}

.bottom-gradient[data-section="hero"] {
  height: 200px;
  @include mediaSm {
    height: 100px;
  }
}

.bottom-gradient[data-section="info-section"] {
  height: 700px;
  @include mediaLg {
    height: 500px;
  }
  @include mediaMd {
    height: 350px;
  }
  @include mediaSm {
    height: 200px;
  }
}

.bottom-gradient[data-section="projects"] {
  height: 700px;
  @include mediaLg {
    height: 500px;
  }
  @include mediaMd {
    height: 350px;
  }
  @include mediaSm {
    height: 200px;
  }
}

.bottom-gradient[data-section="skills"] {
  height: 700px;
  @include mediaLg {
    height: 500px;
  }
  @include mediaMd {
    height: 350px;
  }
  @include mediaSm {
    height: 200px;
  }
}

.bottom-gradient[data-section="contact"] {
  height: 100px;
  // @include mediaLg {
  //   height: 500px;
  // }
  // @include mediaMd {
  //   height: 350px;
  // }
  // @include mediaSm {
  //   height: 200px;
  // }
}
