@import "../../styles/config.module.scss";

.info-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 4rem 1fr 1fr 1fr 4rem;
  grid-template-rows: repeat(5, auto);
  padding-top: 15rem;
  @include mediaLg {
    grid-template-columns: 2rem 1fr 1fr 1fr 2rem;
  }
}

.graphic-card-wrapper {
  grid-column: 1 / -1;
  display: flex;
  width: 100%;
  margin: 15rem auto 0;
  max-width: 3000px;

  @include mediaMd {
    flex-direction: column;
    margin-top: 10rem;
  }
}
