@import "../../../styles/config.module.scss";

.card-wrapper {
  display: flex;
  flex-direction: column;
  grid-column: 4 / 6;
  justify-self: end;
  z-index: 10;

  @include mediaMd {
    grid-column: 1 / -1;
    width: 100%;
  }
}

.card {
  background: linear-gradient(to bottom, $primary-color-1 80%, $grey-200 20%);
  border-radius: 5px;
  width: 275px;
  padding-bottom: 8rem;
  box-shadow: $box-shadow;
  margin: 0 auto;
}

.card-one {
  margin: 0 auto 0 0;
  .svg-illustration {
    margin-top: -120px;
    transform: translateX(3%);
  }
  @include mediaMd {
  }
}

.card-two {
  margin: 0 0 0 auto;
  .svg-illustration {
    margin-top: -120px;
  }
  @include mediaMd {
    margin-top: 5rem;
  }
}
.card-three {
  margin: 0 0 0 auto;
  .svg-illustration {
    margin-top: -120px;
  }
  @include mediaMd {
    margin-top: 5rem;
  }
}
.border-top {
  height: 0.8rem;
  grid-column: 1 / -1;
  background: linear-gradient(to right, $primary-color-20, $primary-color-30);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.text-list {
  list-style: none;
  padding: 0;
}

.list-item {
  display: flex;
  padding: 0.4rem 0.8rem;
  p {
    color: $grey-700;
    padding-left: 0.6rem;
    font-size: 1rem;
    font-weight: $medium;
    margin: 0;
  }
}
.icon {
  font-size: 1.2rem;
  margin-bottom: -4px;
  color: $primary-color-40;
}

.svg-illustration {
  width: 300px;
  height: 100%;
  display: block;
  margin: 0 auto;
  @include mediaMd {
    margin-bottom: 6rem;
  }
}
