@import "../../../styles/config.module.scss";

.card-wrapper {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  justify-self: center;
  margin: 0 auto;
  z-index: 10;

  @include mediaMd {
    grid-column: 1 / -1;
    width: 100%;
  }
}

.card {
  background: linear-gradient(to bottom, $primary-color-1 80%, $grey-200 20%);
  border-radius: 5px;
  width: 325px;
  padding-bottom: 8rem;
  box-shadow: $box-shadow;
  margin: 0 auto;
  @include mediaLg {
    width: 300px;
  }
  @include mediaMd {
    width: 325px;
  }
  @include mediaSm {
    width: 300px;
  }
}

.card-one {
  .svg-illustration {
    margin-top: -120px;
    transform: translateX(3%);
  }
  @include mediaMd {
  }
}

.card-two {
  .svg-illustration {
    margin-top: -120px;
  }
  @include mediaMd {
    margin-top: 5rem;
  }
}
.card-three {
  .svg-illustration {
    margin-top: -120px;
  }
  @include mediaMd {
    margin-top: 5rem;
  }
}
.border-top {
  height: 0.8rem;
  grid-column: 1 / -1;
  background: linear-gradient(to right, $primary-color-20, $primary-color-30);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.card-header {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  text-align: center;
  color: $primary-color;
}

.card-text {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  padding: 0 1rem;
  line-height: 1.3;
  margin-top: 0;
  height: 90px;
  // @include mediaMd {
  //   height: 100px;
  // }
}

.text-list {
  list-style: none;
  padding: 0;
  height: 115px;
}

.list-item {
  display: flex;
  padding: 0.4rem 3rem;
  p {
    color: $grey-700;
    padding-left: 0.6rem;
    font-size: 1rem;
    font-weight: $medium;
    margin: 0;
  }
}
.icon {
  font-size: 1.2rem;
  margin-bottom: -4px;
  color: $primary-color-40;
}

.svg-illustration {
  width: 350px;
  height: 100%;
  display: block;
  margin: 0 auto;
  @include mediaLg {
    width: 325px;
  }
  @include mediaMd {
    width: 350px;
    margin-bottom: 6rem;
  }
  @include mediaSm {
    width: 325px;
  }
}
